<!-- List Widget Template -->
<div class="widget-list">
  <!-- List items will be inserted here -->
</div>

<!-- List Item Template -->
<template id="list-item-template">
  <div class="list-item">
    <span class="item-icon" style="display: none;"></span>
    <div class="item-content">
      <div class="item-title"></div>
      <div class="item-description" style="display: none;"></div>
      <div class="item-value" style="display: none;"></div>
    </div>
    <div class="item-actions" style="display: none;">
      <!-- Action buttons will be inserted here -->
    </div>
  </div>
</template>
