<!-- Table Widget Template -->
<div class="widget-table-container">
  <table class="widget-table">
    <thead>
      <tr class="table-header-row">
        <!-- Column headers will be inserted here -->
      </tr>
    </thead>
    <tbody class="table-body">
      <!-- Table rows will be inserted here -->
    </tbody>
  </table>
</div>

<!-- Table Header Template -->
<template id="table-header-template">
  <th class="table-header">
    <span class="header-text"></span>
    <span class="sort-indicator" style="display: none;"></span>
  </th>
</template>

<!-- Table Row Template -->
<template id="table-row-template">
  <tr class="table-row">
    <!-- Table cells will be inserted here -->
  </tr>
</template>
